@font-face {
  font-family: "iconfont"; /* Project id 3367936 */
  src: url('iconfont.woff2?t=1651802983646') format('woff2'),
       url('iconfont.woff?t=1651802983646') format('woff'),
       url('iconfont.ttf?t=1651802983646') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-nan:before {
  content: "\e60e";
}

.icon-nv:before {
  content: "\e623";
}

.icon-ai-briefcase:before {
  content: "\e624";
}

.icon-mingpian:before {
  content: "\e671";
}

.icon-shoucangxing2:before {
  content: "\e812";
}

.icon-JC_052:before {
  content: "\e65e";
}

.icon-pinglun:before {
  content: "\e63a";
}

