@primary-color: #3eaf7c;
@hover-primary-color: #46bf68;
.w-1100 {
  width: 1100px;
  margin: 0 auto;
}
.ant-btn {
  border-radius: 2px;
}
.ant-input {
  border-radius: 2px;
}
.avatar-uploader > .ant-upload {
  width: 128px;
  height: 128px;
}
.avatar-uploader > .ant-upload img {
  width: 100%;
}
.ant-upload-select-picture-card i {
  font-size: 32px;
  color: #999;
}
.ant-upload-select-picture-card .ant-upload-text {
  margin-top: 8px;
  color: #666;
}
.ant-input-lg {
  font-size: 14px;
}

.ant-btn-primary {
  background-color: @primary-color;
  padding: 0 20px;
  height: 36px;
  border: 1px solid @primary-color;
  border-radius: 2px;
  span {
    font-size: 12px;
    color: #fff;
  }
  &:focus, &:hover {
    background-color: @hover-primary-color;
    border: 1px solid @hover-primary-color;
  }
  &:disabled, &.ant-btn-loading {
    background-color: @primary-color;
    border: 1px solid @primary-color;
    cursor: not-allowed;
    opacity: .5;
  }
  &.ant-btn-loading {
    .anticon-loading {
      color: #fff;
    }
  }
}

.ant-btn-dashed {
  background: transparent;
  border: 1px solid #80dd9a;
  color: @primary-color;
  background: #19c54a1a;
  span {
    font-size: 12px;
  }
}

.ant-popover-inner-content {
  padding: 0;
  .cover-image-popover {
    padding: 12px 0;
    .nickname {
      color: @primary-color;
      font-size: 12px;
      margin-bottom: 6px;
      padding: 0 16px;
      font-weight: bold;
    }
    p {
      line-height: 28px;
      font-size: 12px;
      cursor: pointer;
      padding: 0 16px;
      transition: .2s;
      a {
        color: #4c4c4c;
      }
      &:hover {
        background: rgb(248, 248, 248);
      }
      &:active {
        opacity: .6;
      }
      i {
        margin-right: 6px;
        font-size: 14px;
      }
    }
  }
}

.articlelist-content {
  background: #fff;
  .model {
    display: flex;
    align-items: center;
    padding: 8px 0;
    border-bottom: 1px solid #f1f1f190;
    padding: 20px;
    position: relative;
    cursor: pointer;
    &:hover {
      background: #fafafa;
    }
    .l {
      width: 0;
      flex: 1;
      .user-info {
        display: flex;
        padding: 6px 0;
        p {
          font-size: 14px;
          margin-right: 24px;
          position: relative;
          a {
            color: #4e5969;
          }
          &:not(:last-child) {
            &:before {  
              content: "";
              width: 1px;
              position: absolute;
              height: 12px;
              background: #dedddd;
              top: 5px;
              right: -12px;
            }
          }
        }
      }
      .article-title {
        font-size: 16px;
        color: #1d2129;
        font-weight: bold;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .article-desc {
        color: #86909c;
        font-size: 12px;
        padding: 6px 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .a-num {
        display: flex;
        margin-top: 6px;
        p {
          margin-right: 32px;
          display: flex;
          align-items: center;
          position: relative;
          &:not(:last-child):after {
            content: "";
            width: 1px;
            position: absolute;
            height: 11px;
            background: #ede3e3;
            top: 4px;
            right: -16px;
          }
          &.is-liker {
            color: @primary-color;
          }
          span {
            font-size: 12px;
            margin-left: 4px;
            font-weight: bold;
          }
          &:not(:first-child) {
            &:hover {
              color: @primary-color;
            }
          }
        }
      }
    }
    .r {
      margin-left: 30px;
      flex-shrink: 0;
      img {
        width: 120px;
        height: 80px;
      }
    }
    .operate-fixed {
      position: absolute;
      top: 10px;
      right: 10px;
      z-index: 10;
    }
  }
}

.artile-list-operate {
  padding: 10px 20px;
  a, p {
    color: #4c4c4c;
    display: block;
    font-size: 12px;
    line-height: 24px;
    cursor: pointer;
    user-select: none;
    &:hover {
      color: @hover-primary-color;
    }
  }
}

.emoji-popover {
  &.ant-popover-placement-top {
    .ant-popover-content {
      .ant-popover-arrow {
        border-right-color: #f0f0f0;
        border-bottom-color: #f0f0f0;
      }
    }
  }
  &.ant-popover-placement-bottom {
    .ant-popover-content {
      .ant-popover-arrow {
        border-top-color: #f0f0f0;
        border-left-color: #f0f0f0;
      }
    }
  }
}

.share-circle-content {
  .input-block {
    .ant-upload-picture-card-wrapper{
      .ant-upload-select-picture-card {
        width: 60px;
        height: 60px;
        .ant-upload {
          i {
            font-size: 22px;
          }
          &-text {
            display: none;
          }
        }
      }
      .ant-upload-list-picture-card {
        .ant-upload-list-picture-card-container {
          width: 60px;
          height: 60px;
          .ant-upload-list-item {
            width: 60px;
            height: 60px;
            padding: 0;
          }
        }
      }
    }
  }
  .publish-group {
    .left-gropu {
      .ant-upload-list {
        display: none;
      }
    }
  }
}
