@primary-color: #3eaf7c;
@hover-primary-color: #46bf68;
.w-1100 {
  width: 1100px;
  margin: 0 auto;
}
.w-960 {
  width: 960px;
  margin: 0 auto;
}
.ant-btn {
  border-radius: 2px;
}
.ant-input {
  border-radius: 2px;
}
.avatar-uploader > .ant-upload {
  width: 128px;
  height: 128px;
}
.avatar-uploader > .ant-upload img {
  width: 100%;
}
.ant-upload-select-picture-card i {
  font-size: 32px;
  color: #999;
}
.ant-upload-select-picture-card .ant-upload-text {
  margin-top: 8px;
  color: #666;
}
.ant-input-lg {
  font-size: 14px;
}

.ant-btn-primary {
  background-color: @primary-color;
  padding: 0 20px;
  height: 36px;
  border: 1px solid @primary-color;
  border-radius: 2px;
  span {
    font-size: 12px;
    color: #fff;
  }
  &:focus, &:hover {
    background-color: @hover-primary-color;
    border: 1px solid @hover-primary-color;
  }
  &:disabled, &.ant-btn-loading {
    background-color: @primary-color;
    border: 1px solid @primary-color;
    cursor: not-allowed;
    opacity: .5;
  }
  &.ant-btn-loading {
    .anticon-loading {
      color: #fff;
    }
  }
}

.ant-btn-dashed {
  background: transparent;
  border: 1px solid #80dd9a;
  color: @primary-color;
  background: #19c54a1a;
  span {
    font-size: 12px;
  }
  .anticon {
    position: relative;
    top: 1px;
    & + span {
      margin-left: 6px;
    }
  }
}

.ant-popover-inner-content {
  padding: 0;
  .cover-image-popover {
    padding: 12px 0;
    & > div {
      &:not(:last-child) {
        padding-bottom: 10px;
        border-bottom: 1px solid #f1f1f1;
      }
      &:not(:first-child) {
        padding-top: 10px;
      }
      p {
        line-height: 32px;
        font-size: 13px;
        cursor: pointer;
        transition: .2s;
        a {
          padding: 0 50px 0 16px;
          color: #4c4c4c;
          display: block;
        }
        &:hover {
          background: rgb(248, 248, 248);
        }
        &:active {
          opacity: .6;
        }
        i {
          margin-right: 8px;
          font-size: 20px;
          color: #999;
          position: relative;
          top: 2px;
        }
        &.pad-ing {
          padding: 0 50px 0 16px;
        }
      }
    }
  }
}

.shart-list-block, .circle-content-block {
  .share-block {
    background: #fff;
    border-radius: 4px;
    margin-bottom: 20px;
    .top {
      display: flex;
      padding: 20px 20px 10px 20px;
      position: relative;
      .left-avatar {
        width: 48px;
        height: 48px;
        a {
          display: block;
          width: 100%;
          height: 100%;
          border-radius: 50%;
          overflow: hidden;
          img {
            width: 100%;
            height: 100%;
          }
        }
      }
      .right-info {
        width: 0;
        flex: 1;
        padding-left: 14px;
        .nickname {      
          font-size: 15px;
          a {
            color: #4c4c4c;
            &:hover {
              color: @hover-primary-color;
            }
          }
        }
        .desc {
          padding-bottom: 10px;
          font-size: 12px;
          color: #999;
        }
        .share-info {
          color: #000;
        }
        .img-box {
          padding: 16px 0;
          display: flex;
          .share-img {
            margin-right: 4px;
            img {
              display: block;
              flex: 0 1 auto;
              max-width: 100%;
              min-width: 110px;
              cursor: zoom-in;
              min-height: 110px;
              max-height: 230px;
              -o-object-fit: cover;
              object-fit: cover;
            }
            &:nth-child(1):nth-last-child(1) {
               border-radius: 4px;
              overflow: hidden;
              img {
                width: 200px;
              }
            }
            &:nth-child(1):nth-last-child(2), 
            &:nth-child(2):nth-last-child(1), 
            &:nth-child(3):nth-last-child(1), 
            &:nth-child(2):nth-last-child(2), 
            &:nth-child(1):nth-last-child(3) {
              img {
                width: 110px;
              }
            }
          }
        }
      }
      .operate-fixed {
        position: absolute;
        top: 10px;
        right: 10px;
        z-index: 10;
        cursor: pointer;
      }
    }
    .bottom {
      border-top: 1px solid #f1f1f1;
      display: flex;
      div {
        width: 50%;
        text-align: center;
        padding: 10px 0;
        cursor: pointer;
        color: #86909c;
        a {
          color: #86909c;
        }
        &:hover {
          opacity: .8;
        }
        &.like {
          color: @primary-color;
        }
        i {
          position: relative;
          top: 1px;
          margin-right: 1px;
        }
        span {
          position: relative;
          top: 0;
        }
      }
    }
  }
}

.articlelist-content {
  background: #fff;
  .model {
    display: flex;
    align-items: center;
    padding: 8px 0;
    border-bottom: 1px solid #f1f1f190;
    padding: 20px;
    position: relative;
    cursor: pointer;
    &:hover {
      background: #fafafa;
    }
    .l {
      width: 0;
      flex: 1;
      .user-info {
        display: flex;
        padding: 6px 0;
        p {
          font-size: 14px;
          margin-right: 24px;
          position: relative;
          a {
            color: #4e5969;
          }
          &:not(:last-child) {
            &:before {  
              content: "";
              width: 1px;
              position: absolute;
              height: 12px;
              background: #dedddd;
              top: 5px;
              right: -12px;
            }
          }
        }
      }
      .article-title {
        font-size: 16px;
        color: #1d2129;
        font-weight: bold;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .article-desc {
        color: #86909c;
        font-size: 12px;
        padding: 6px 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .a-num {
        display: flex;
        margin-top: 6px;
        p {
          margin-right: 32px;
          display: flex;
          align-items: center;
          position: relative;
          &:not(:last-child):after {
            content: "";
            width: 1px;
            position: absolute;
            height: 11px;
            background: #ede3e3;
            top: 4px;
            right: -16px;
          }
          &.is-liker {
            color: @primary-color;
          }
          span {
            font-size: 12px;
            margin-left: 4px;
            font-weight: bold;
          }
          &:not(:first-child) {
            &:hover {
              color: @primary-color;
            }
          }
        }
      }
    }
    .r {
      margin-left: 30px;
      flex-shrink: 0;
      img {
        width: 120px;
        height: 80px;
      }
    }
    .operate-fixed {
      position: absolute;
      top: 10px;
      right: 10px;
      z-index: 10;
    }
  }
}

.artile-list-operate, .circle-list-operate {
  padding: 10px 20px;
  a, p {
    color: #4c4c4c;
    display: block;
    font-size: 12px;
    line-height: 24px;
    cursor: pointer;
    user-select: none;
    &:hover {
      color: @hover-primary-color;
    }
  }
}

.emoji-popover {
  &.ant-popover-placement-top {
    .ant-popover-content {
      .ant-popover-arrow {
        border-right-color: #f0f0f0;
        border-bottom-color: #f0f0f0;
      }
    }
  }
  &.ant-popover-placement-bottom {
    .ant-popover-content {
      .ant-popover-arrow {
        border-top-color: #f0f0f0;
        border-left-color: #f0f0f0;
      }
    }
  }
}

.share-circle-content {
  .input-block {
    .ant-upload-picture-card-wrapper{
      .ant-upload-select-picture-card {
        width: 60px;
        height: 60px;
        .ant-upload {
          i {
            font-size: 22px;
          }
          &-text {
            display: none;
          }
        }
      }
      .ant-upload-list-picture-card {
        .ant-upload-list-picture-card-container {
          width: 60px;
          height: 60px;
          .ant-upload-list-item {
            width: 60px;
            height: 60px;
            padding: 0;
            border: 1px solid #f1f1f1;
            overflow: hidden;
          }
        }
      }
    }
  }
  .publish-group {
    .left-gropu {
      .ant-upload-list {
        display: none;
      }
    }
  }
}

.login-wrapper {
  position: fixed;
  background: rgba(0,0,0,.3);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  .modal {
    padding: 30px;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -160px;
    width: 320px;
    margin-top: -200px;
    box-shadow: 0 0 6px 3px rgba(0,0,0,.1);
    .anticon-close {
      position: absolute;
      right: 20px;
      top: 20px;
      font-size: 14px;
      opacity: .8;
      cursor: pointer;
    }
    h3 {
      font-weight: bold;
      color: #252933;
      font-size: 16px;
      padding-bottom: 20px;
    }
    .ant-form-horizontal {
      .ant-form-item {
        margin-bottom: 12px;
        &:nth-of-type(3) {
          margin-bottom: 6px;
          .ant-form-item-control {
            line-height: normal;
          }
        }
        .ant-form-item-children {
          display: flex;
          align-items: center;
          .code-input {
            width: 110px;
            margin-right: 10px;
          }
        }
      }
      .ant-btn-block {
        font-size: 14px;
        margin-top: 10px;
      }
      .tip {
        margin-top: 20px;
        font-size: 12px;
        color: #999;
        span {
          color: @primary-color;
        }
      }
      .send-email-code {
        p {
          color: @primary-color;
          cursor: pointer;
          font-size: 12px;
        }
        span {
          color: #999;
          font-size: 12px;
        }
      }
    }
  }
}

.emoji-popover {
  display: flex;
  padding: 4px 10px;
  p {
    margin: 0 2px;
    cursor: pointer;
    border-radius: 4px;
    padding: 4px 6px;
    color: #24292f;
    transition: .2s;
    &:hover {
      background: #f3f4f6;
    }
    &.active {
      background: #eafbf5;
    }
  }
}
