.w-1100 {
  width: 1100px;
  margin: 0 auto;
}
.ant-btn {
  border-radius: 2px;
}
.ant-input {
  border-radius: 2px;
}
.avatar-uploader > .ant-upload {
  width: 128px;
  height: 128px;
}
.avatar-uploader > .ant-upload img {
  width: 100%;
}
.ant-upload-select-picture-card i {
  font-size: 32px;
  color: #999;
}
.ant-upload-select-picture-card .ant-upload-text {
  margin-top: 8px;
  color: #666;
}
.a-primary {
  background: #19c54a;
  color: #fff;
  padding: 0 20px;
  height: 36px;
  font-size: 14px;
  border-radius: 2px;
  border: none;
  outline: none;
  cursor: pointer;
  line-height: 36px;
  transition: .2s;
  i {
    margin-right: 4px;
  }
  &:hover {
    background: #26d658;
  }
  &.dashed {
    background: transparent;
    border: 1px solid #80dd9a;
    color: #19c54a;
    background: rgba(25, 197, 74, 0.1);
  }
  &:active {
    opacity: .6;
  }
  em {
    font-style: normal;
    font-size: 13px;
  }
  .dis {
    display: none;
  }
  &:hover {
    .dis {
      display: inline-block;
    }
    .has {
      display: none;
    }
  }
}

.ant-popover-inner-content {
  padding: 0;
  .cover-image-popover {
    padding: 12px 0;
    .nickname {
      color: #2080f7;
      font-size: 12px;
      margin-bottom: 6px;
      padding: 0 16px;
    }
    p {
      line-height: 28px;
      font-size: 12px;
      cursor: pointer;
      padding: 0 16px;
      transition: .2s;
      a {
        color: #4c4c4c;
      }
      &:hover {
        background: rgb(248, 248, 248);
      }
      &:active {
        opacity: .6;
      }
      i {
        margin-right: 6px;
        font-size: 14px;
      }
    }
  }
}
